@import url('../css/header.css');
@import url('../css/layout.css');
@import url('../css/footer.css');

.masters {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 80px;
        color: var(--white);
        text-align: center;
        font-family: Garamond;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}

.masters-info {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;  
}

.master-info {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    position: relative;

    &__img {
        width: 400px;
        height: 477px;
        padding-bottom: 20px;
    }


    &__frame {
        position: absolute;
        border: 1px solid var(--accent);
        opacity: 0.5;
        width: 400px;
        height: 477px;
        top: -20px;
        left: 20px;
        z-index: -100;
    }

    &__subtitle {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        transition: all .3s;
    }

    &__subtitle:hover {
        color: var(--accent);
        text-decoration: underline;
    }

    &__text {
        padding-bottom: 40px;
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    } 
}

@media screen and (max-width: 1024px) {
    /* Cтили для планшета */
    .line {
       width: 767px;
    }

    .masters {
        &__title {
            margin-top: 40px;
            font-size: 36px;
        }
    }

    .master-info {
        display: flex;
        flex-direction: column;
        gap: 10px;  
        position: relative;
    
        &__img {
            width: 230px;
            height: 274px;
        }
    
    
        &__frame {
            width: 230px;
            height: 274px;
        }
    }
}

@media screen and (max-width: 767px) {
    /* Cтили для мобильного телефона */
    .line {
        width: 284px;
    }

    .masters-info {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;  
    }
}
