@import url('../css/header.css');
@import url('../css/layout.css');
@import url('../css/footer.css');

.price {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 80px;
        color: var(--white);
        text-align: center;
        font-family: Garamond;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}

.prices-info {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;  


}

.price-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 134px;

    &__img {
        width: 636px;
        height: 536px;
    }
}

.price-info-reflection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 134px;

    &__img {
        width: 636px;
        height: 536px;
    }
}

.price-info-positions {
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__line {
        max-width: 526px;
        height: 1px;
        opacity: 0.5;
        background: var(--white);
    }
}

.price-info-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 38px;

    &__value {
        color: var(--white);
        text-align: right;
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; 
    }
}

.price-info-position-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 416px;

    &__title {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; 
    }

    &__subtitle {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
    }
}

@media screen and (max-width: 1024px) {
    /* Cтили для планшета */
    .price__title {
        margin-top: 40px;
        font-size: 36px;
    }

    .price-info,
    .price-info-reflection {
        flex-direction: column;
        gap: 60px;
    }

    .price-info-reflection {
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }
}

@media screen and (max-width: 767px) {
    /* Cтили для мобильного телефона */
    .prices-info {
        margin-top: 40px;
    }

    .price-info {
        gap: 40px;

        &__img {
            width: 230px;
            height: 194px;
        }
    }
    
    .price-info-reflection {
        gap: 40px;

        &__img {
            width: 230px;
            height: 194px;
        }
    }

    .price-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;  
    }
}
