@import url('../css/header.css');
@import url('../css/layout.css');
@import url('../css/footer.css');

.reviews {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 80px;
        color: var(--white);
        text-align: center;
        font-family: Garamond;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}

.reviews-makeup,
.reviews-hair,
.reviews-nail  {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &__title {
        margin-top: 80px;
        margin-bottom: 40px;
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__review {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}

.review-makeup,
.review-hair,
.review-nail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 400px;

    &__img {
        max-width: 400px;
    }

    &__title {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__text {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &__author {
        color: var(--white);
        text-align: right;
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
        padding-bottom: 10px;
        color: var(--white);
        text-align: center;
        font-family: Garamond;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    &__subtitle {
        color: var(--white);
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}

.feedback-form {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 734px;
    display: grid;
    grid-row-gap: 43px;
    grid-column-gap: 52px;
    grid-template-columns: repeat(2, 1fr);

    &__input {
        height: 69px;
        font-family: Cormorant Garamond;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--background);
        background-color: var(--white);
        padding-left: 50px;
        padding-right: 50px;
        border: none;
        box-sizing: border-box;
        outline: none;
        border-radius: 5px;

        &_textarea {
            height: 252px;
            padding-top: 32px;
            padding-bottom: 32px;
            resize: none;
            grid-column: 1 / -1;
        }
    }

    &__button {
        background: var(--accent);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        border-radius: 5px;
        color: var(--background);
        border: none;
        height: 75px;
        grid-column: 1 / -1;
        border: 2px solid transparent;
        transition: all .3s;
    }

    &__button:hover {
        background: var(--white);
        color: var(--accent);
    }
}

@media screen and (max-width: 1024px) {
    /* Cтили для планшета */
    .line {
       width: 767px;
    }

    .reviews {
        margin-bottom: 40px;
        
        &__title {
            margin-top: 40px;
            font-size: 36px;
        }
    }

    .reviews-makeup, 
    .reviews-hair, 
    .reviews-nail {
        margin-bottom: 40px;
        align-items: center;

        &__title {
            margin-top: 20px;
            font-size: 27px;
        }
    }

    .review-makeup,
    .review-hair,
    .review-nail {

        &__title {
            margin-top: 10px;
            font-size: 27px;
        }
    }

    .review-makeup, 
    .review-hair, 
    .review-nail {
        gap: 8px;
    }
}

@media screen and (max-width: 767px) {
    /* Cтили для мобильного телефона */

    .line {
        width: 284px;
    }

    .review-makeup, 
    .review-hair, 
    .review-nail {
        gap: 20px;
        max-width: 288px;

        &__img {
            max-width: 288px;
        }
    }

    .feedback {
        text-align: center;
        &__title {
            font-size: 36px;
        }

        &__subtitle {
            font-size: 18px;
        }
    }
    .feedback-form {
        align-content: center;
        width: 100%;
        grid-row-gap: 24px;
        grid-template-columns: repeat(1, 1fr);
        box-sizing: border-box;
        grid-column: 1/-1;
    }
}
